<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078710957835-qs553f3jq3bronv7k453cjkc1gapab88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078710957835-qs553f3jq3bronv7k453cjkc1gapab88</string>
	<key>API_KEY</key>
	<string>AIzaSyAa5uO8CiOwB1O9Si65ugVZUAHCUJ44BHc</string>
	<key>GCM_SENDER_ID</key>
	<string>1078710957835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.conceptos.entrance</string>
	<key>PROJECT_ID</key>
	<string>entrance-5ae81</string>
	<key>STORAGE_BUCKET</key>
	<string>entrance-5ae81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078710957835:ios:7983966cbb827381b3940e</string>
</dict>
</plist>